* {
    font-family: sans-serif, 'Roboto';
}

.tab-info__wrapper {
    width: 270px;
    height: 170px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #404258;
    color: white;
    filter: brightness(130%);
}
